.ui_running{
    color: grey;
    font-size: 30px;
    font-family: monaco;
    min-height: 35px;
    max-height: 35px;
    margin-left: 0px;
}

.ui_running .widget-label{
    max-width:0px;
    min-width:0px;
}

.ui_running input{
    zoom: 1.5;
}

.ui_running span{
    color: grey;
    font-size: 20px;
    font-family: monaco;
}

.ui_label_title {
    color: grey;
    font-size: 30px;
    font-family: monaco;
    min-height: 35px;
    max-height: 35px;
}

.ui_label_losses {
    color: grey;
    font-size: 30px;
    font-family: monaco;
    min-height: 150px;
    max-height: 150px;
    margin-left: 10px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}


.ui_power > input[type="text"] {
    font-size: 50px;
    color: #b5291f;
    font-family: monaco;
    min-height: 120px;
    max-height: 120px;
    text-align: right;
    margin-left: 10px;
}

.ui_det select{
    min-height: 120px;
    max-height: 120px;
    margin-left: 10px;
}


.ui_cnct{
    min-height: 32px;
    max-height: 32px;
    height: 42px;
#     margin: 0px;
#     margin-bottom: 10px;
    padding: px;
    margin-left: 10px;
}
.ui_prgs{
    min-height: 42px;
    max-height: 42px;
    height: 42px;
    margin-left: 10px;
    padding-right: 10px;
}


.ui_wlgth{
    min-height: 160px;
    max-height: 160px;
}
.ui_wlgth .slider-container{
    min-height: 100px;
    max-height: 100px;
}
